#mainview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all {
  background-color: black;
  height: 18rem;
  margin: 1rem;
  text-align: center;
  width: 18rem;
}

.all-pics {
  border-radius: 1em;
  height: 10rem;
  margin: -1.3rem;
  width: 10rem;
}