#soloview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: black;
  height: 18rem;
  margin: 1rem;
  text-align: center;
  width: 18rem;
}

img {
  border-radius: 1em;
  height: 16rem;
  // margin: -1.3rem;
  width: 16rem;
}