#soloview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.solo {
  background-color: black;
  height: 30rem;
  margin: 1rem;
  padding: 7px;
  text-align: center;
  width: 30rem;
}

.solo-pic {
  align-self: center;
  border-radius: 1em;
  display: flex;
  height: 80%;
  width: 80%;
}